
     .services-container {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
    }

    .sign {
      border: 1px solid #000;
      border-radius: 8px;
      padding: 20px;
      width: 250px;
      height: 150px;
      background-color: white;
      text-align: center;
      transition: transform 0.2s ease;
    }

    .sign:hover {
      transform: scale(1.03);
    }

    /* .icon {
      width: 100px;
      height: 50px;
      margin-bottom: 15px;
    } */

    .sign-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .sign-text {
      color: #555;
    }